@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
}

header img {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    border-radius: 15px;
    margin-left: 100px;
}

header nav {
    width: 20%;
    margin-right: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

header nav a {
    color: black;
    height: 40px;
    width: 150px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid black;
}

main {
    height: 140vh;
    margin-top: 150px;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.tech-types {
    text-align: center;
    margin-bottom: 20px;
}

.tech-types button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    font-size: 20px;
}

.tech-types button:hover {
    background-color: #555;
}

.tech-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
}

.tech-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    height: 400px;
    width: 300px;;
    margin: 0px;
}

.tech-item img {
    max-width: 100%;
    height: 40%;
    margin-top: 10px;
}

.tech-item strong {
    display: block;
    margin-top: 10px;
    font-size: 1.1em;
}

.tech-item p {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

footer nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer nav a{
    color: black;
    height: 40px;
    width: 150px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 7px;
    border-radius: 15px;
    border: 1px solid black;
    width: 20%;
}

footer a:hover {
    cursor: pointer;
}
