{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Max-Tech</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>

    <header>
        <img src="https://ci3.googleusercontent.com/meips/ADKq_NaSEUtUWp9NeBzHmFesgmNozfLZWTYyhCX7Crjb2JivDUs5ITWwxMFAvXgZwdmCMEtyEcTGxFzx0MR0pR1SYczCoExHA1kltqCVlqWKD4U1azZiEnMKSOJCjyefRX1G-zUKYq_AcCdnLG8blRtj2c7exdt3BqgGT3fVT8ev2BuoElZemal9NxvKevIOXp4Hr126ABxt3AQdetIkCDsd0KgeGw=s0-d-e1-ft#https://dynamic.design.com/preview/logodraft/93cb245e-c2a8-478b-b67d-daaf179c32a6/image/large.png?bust=c494d5b2-7982-4e61-9838-57c122e06ed8" alt="">
    </header>

    <main class="about-page">
        <div class="container">
            <h1>About Max-Tech</h1>
            <p>Welcome to Max-Tech, your number one source for all devices. I am dedicated to giving you the very best of tech products, with a focus on quality, customer service, and uniqueness.</p>
            <p>This is my personal project created to exercise my skills with Django and other technologies. Through this project, I aim to enhance my proficiency in web development and showcase my ability to build functional and visually appealing web applications.</p>
            <p>I hope you enjoy my products as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact me.</p>
            <p>Sincerely,<br>Max-Vassilev (Github)</p>
        </div>
    </main>

    <footer>
        <nav>
            <a href="/"><i class="fa-solid fa-house"></i> &nbsp;Home</a>
            <a href="#"><i class="fa-solid fa-phone"></i> &nbsp;Contacts</a>
        </nav>
    </footer>

</body>
</html>
