{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Max-Tech</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <header>
        <img src="https://ci3.googleusercontent.com/meips/ADKq_NaSEUtUWp9NeBzHmFesgmNozfLZWTYyhCX7Crjb2JivDUs5ITWwxMFAvXgZwdmCMEtyEcTGxFzx0MR0pR1SYczCoExHA1kltqCVlqWKD4U1azZiEnMKSOJCjyefRX1G-zUKYq_AcCdnLG8blRtj2c7exdt3BqgGT3fVT8ev2BuoElZemal9NxvKevIOXp4Hr126ABxt3AQdetIkCDsd0KgeGw=s0-d-e1-ft#https://dynamic.design.com/preview/logodraft/93cb245e-c2a8-478b-b67d-daaf179c32a6/image/large.png?bust=c494d5b2-7982-4e61-9838-57c122e06ed8" alt="">
        <nav>
            <a href="{% url 'summary' %}"><i class="fa-solid fa-cart-shopping"></i> &nbsp;Cart</a>
        </nav>
    </header>

    <main>

        <div class="container">
        

            <div class="tech-types">
                <a href=""><button class="{% if current_category == 'all' %}active{% endif %}">All</button></a>
                <a href=""><button class="{% if current_category == 'TV' %}active{% endif %}">TV</button></a>
                <a href=""><button class="{% if current_category == 'PC' %}active{% endif %}">Computer</button></a>
                <a href=""><button class="{% if current_category == 'Laptop' %}active{% endif %}">Laptop</button></a>
                <a href=""><button class="{% if current_category == 'Mobile Phone' %}active{% endif %}">Phone</button></a>
                <a href=""><button class="{% if current_category == 'Tablet' %}active{% endif %}">Tablet</button></a>
                <a href=""><button class="{% if current_category == 'Other' %}active{% endif %}">Other</button></a>
            </div>

            <ul class="tech-items">
                {% for tech_item in page_obj %}
                    <li class="tech-item">
                        <div class="item-name">{{ tech_item.name }}</div>
                        <div class="item-price">Price: ${{ tech_item.price }}</div>
                        <img src="{{ tech_item.image_url }}" alt="{{ tech_item.name }}">
                        <button href="" class="add-to-cart-btn">Add to cart</button>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </span>
            </div>

        </div>

    </main>

    <footer>
        <nav>
            <a href="{% url 'about' %}"><i class="fa-solid fa-address-card"></i> &nbsp;About</a>
            <a href="{% url 'contacts' %}"><i class="fa-solid fa-phone"></i> &nbsp;Contacts</a>
        </nav>
    </footer>

</body>
</html>
