{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart Summary - Max-Tech</title>
    <link rel="stylesheet" href="{% static 'css/cart_summary.css' %}">
</head>
<body>

    <header>
        <img src="https://ci3.googleusercontent.com/meips/ADKq_NaSEUtUWp9NeBzHmFesgmNozfLZWTYyhCX7Crjb2JivDUs5ITWwxMFAvXgZwdmCMEtyEcTGxFzx0MR0pR1SYczCoExHA1kltqCVlqWKD4U1azZiEnMKSOJCjyefRX1G-zUKYq_AcCdnLG8blRtj2c7exdt3BqgGT3fVT8ev2BuoElZemal9NxvKevIOXp4Hr126ABxt3AQdetIkCDsd0KgeGw=s0-d-e1-ft#https://dynamic.design.com/preview/logodraft/93cb245e-c2a8-478b-b67d-daaf179c32a6/image/large.png?bust=c494d5b2-7982-4e61-9838-57c122e06ed8" alt="">
        <nav>
            <a href="{% url 'base_page' %}"><i class="fa-solid fa-house"></i> &nbsp;Home</a>
        </nav>
    </header>

    <main>
        <h1>Cart Summary</h1>
    </main>

    <footer>
        <nav>
            <a href="{% url 'about' %}"><i class="fa-solid fa-address-card"></i> &nbsp;About</a>
            <a href="{% url 'contacts' %}"><i class="fa-solid fa-phone"></i> &nbsp;Contacts</a>
